<div class="text-center">
	<div class="tab-pane active" id="about">
		<img src="assets/images/logo.jpg" name="Shailender Singh"
			width="140" height="140" border="0" class="img-circle">
		<h3 class="media-heading">Shailender Singh <small> India</small></h3>
		<span><strong>Skills: </strong></span>
		<span class="label label-warning">HTML5/CSS</span>
		<span class="label label-warning">Angular, Bootstrap</span>
		<span class="label label-warning">Node, Express</span>
		<span class="label label-warning">PHP, wordpress, Codeigniter, Laravel</span>
		<hr>
		<p class="text-left"><strong>Bio: </strong><br>I am independent, passionate, and enthusiastic. I have developed myself as a team leader, coordinator, team player & organizer. My mission in life is not just to survive but to thrive. I know that I cannot change the direction of the wind but I can adjust my sails, to always, reach my destination. "Sky Is The Limit".</p>
		<br>
        <hr>
		<p class="text-left"><strong>Professional Summery: </strong><br>
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> 4 years of professional experience as Full Stack Developer.<br/>
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> Experience in Developing User Interface UI, Rich Web Applications, and Web Service Applications using Front End/User Interface UI Technologies like HTML5,Typescript, JavaScript ,JQuery, Angular2 JS, Ionic2, JSON, Bootstrap Framework, Ajax, CSS2/3,Media Queries, CSS Frameworks, CSS Sprite.<br/>
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> Node, Express<br/>
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> PHP, Wordpress, Codeigniter, Magento, oscommerce, Zend, Laravel, Twig and Blade template<br/>
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> Google Analytics, Webmaster tool(Google, Bing, Yahoo), Affiliate Marketing, Meta Tags.<br/>
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> Experience with versioning tools like Subversion and Git, Bitbucket.<br/>
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> Strong experience in writing and updating the technical documents on daily basis with the changes made to the existing environment on daily basis.<br/>
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> Excellent working knowledge and thorough exposure on compatibility issues with different versions of browsers like Internet Explorer, Mozilla Firefox, Safari and Google Chrome.<br/>
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> Experience in integration of Social Media Plugins like Face book, Twitter, Google plus, Linked In<br/>
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> Payment Gateway Integrations (Paypal, Stripe, Authorize. NET)<br/>
        </p>
		<br>
        <hr>
        <p class="text-left"><strong>Technical Skills: </strong><br>
        <span><strong>Web Technologies: </strong></span>
		<span class="label label-warning">HTML5</span>
		<span class="label label-warning">Bootstrap</span>
		<span class="label label-warning">CSS2/3</span>
		<span class="label label-warning">JavaScript, JQuery, Typescript</span>
        <br>
        <span><strong>JavaScript Libraries: </strong></span>
		<span class="label label-info">Angular1/2</span>
		<span class="label label-info">Node JS</span>
		<span class="label label-info">Express JS</span>
        <br>
        <span><strong>MVC Frameworks: </strong></span>
		<span class="label label-danger">Codeigniter</span>
		<span class="label label-danger">Laravel</span>
		<span class="label label-danger">Zend</span>
        <br>
        <span><strong>Database: </strong></span>
		<span class="label label-success">MySql</span>
		<span class="label label-success">mongoDB</span>
		<span class="label label-success">IBM Cloudant DB</span>
		<span class="label label-success">Firebase</span>
        <br>
        <span><strong>Operating Systems: </strong></span>
		<span class="label label-default">Linux</span>
		<span class="label label-default">Windows</span>
        </p>
	</div>
</div>